CompileFlags:
  Add:
    - -fms-extensions
    - -fms-compatibility
    - -fms-compatibility-version=19
    - --cuda-path=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v13.0
  Remove:
    - -forward-unknown-to-host-compiler
    - -rdc=true
    - -Xcompiler*
    - -arch*
    - --diag-suppress*
    - -Xcompiler=/EHsc
    - -Xcompiler=-Zi
    - -Xcompiler=-Ob0
    - -Xcompiler=-Od
    - -Xcompiler=/RTC1
    - -Xcompiler=-MDd
    - -Xcompiler=-FdCMakeFiles\CUDA-Rasterizer.dir\,-FS
    - -Xcompiler= -Zi -Ob0 -Od /RTC1
    - -Xcompiler= -Zi -Ob0 -Od /RTC1
    - --expt-relaxed-constexpr
    
Diagnostics:
  Suppress:
    - attribute_aligned_too_great
    - builtin_definition
    - constexpr_local_var_non_literal_type